{% extends "./layout.html" %}
{% load static %}

{% block head %}
    <script>
        document.addEventListener('DOMContentLoaded', async () => {
            const countriesSelect = document.querySelector('#countriesSelection');
            countriesSelect.addEventListener('change', async function () {
                // const myUrl = dataUrl +  `?country=${this.value}`;
                const dataUrl = `{% url 'countries' %}?country=${this.value}`;
                console.log(dataUrl);
                const data = await fetch(dataUrl).then(res => res.text()).catch(err => console.error(err));
                const array = data.split(",")
                console.log(array)

                for (let i = 0; i <array.length; i++) {
                    const newElement = document.createElement('option')
                    newElement.value = array[i]
                    console.log(array[i])
                    newElement.innerHTML = array[i]
                    countriesSelect.appendChild(newElement)
                }
                document.querySelector('.cities').disabled = false
            });
        })
    </script>

    <link rel="stylesheet" href="{% static 'app/index.css'%}">
{% endblock head %}

{% block body %}
    <h1 class="h1">The Weather Dude.</h1>
    <div class="heading-and-form-container">
        <div class="heading-and-paragraph-container">
            <h2 class="h2">
                <small class="text-muted">The dude who knows the weather.</small>
            </h2>
            <div class="landing-paragraph">
                <p class="landing-paragraph">The Weather Dude makes checking the weather fun, simple, and reliable — because you deserve more than just a boring forecast.</p>
            </div>
            <div class="landing-paragraph">
                <p>cause he knows.</p>
            </div>
            <div>
                <button class="get-your-button btn btn-primary" type="submit">Get the weather at your location</button>
            </div>
        </div>
        <div class="form-container">
            <form action="" class="">
                {% csrf_token %}
                <div class="col mb-3 selection">
                    <select id="countriesSelection" class="form-select">
                        <option value="first">Choose your country:</option>
                        {% for i in country %}
                        <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col mb-3 selection">
                    <select class="cities form-select" disabled>
                        <option value="second">Choose your city: </option>
                    </select>
                </div>
                <div class="mb-3 col selection">
                    <input type="submit" value="Submit" class="btn btn-primary mahOwnSubmitButton" onsubmit="getLocation">
                </div>
            </form>
            <img src="{% static 'app/1555512.png' %}" alt="cloud-icon" width="150" height="180" class="cloud-image">
        </div>
    </div>
{% endblock body %}
