{% extends './layout.html'%}
{% load static %}


{% block nav%}

{% if user.is_authenticated %}
<a href="{% url 'logout'%}">Log Out</a>
<p>Hello {{user.username}}</p>
{% else %}
<a href="{% url 'create'%}">Create new user</a>
{% endif%}
{% endblock nav%}


{% block body %}
{% if user.is_authenticated %}
<p>You are already logged in (as user {{user.username}})</p>
<a href="{% url 'index'%}">Go to index page.</a>
{% else %}
<form action="{% url 'login'%}" method="POST">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Enter your username: ">
    <input type="password" name="password" placeholder="Enter your password:">
    <input type="submit">
</form>
{% endif%}
{% endblock body%}