{% extends './layout.html'%}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'app/login.css'%}">
{% endblock%}

{% block body %}
{% if user.is_authenticated %}
<p>You are already logged in (as user {{user.username}})</p>
<a href="{% url 'index'%}">Go to index page.</a>
{% else %}
<form action="{% url 'login'%}" method="POST">
    {% csrf_token %}
    <div class="mb-3 mx-auto container-fluid">
        <div>
            <input type="text" name="username" placeholder="Enter your username: " class="form-control">
        </div>
        <div>
            <input type="password" name="password" placeholder="Enter your password:" class="form-control">
        </div>
        <input type="submit" class="btn btn-primary">
    </div>
</form>
{% endif%}
{% endblock body%}