.form-container {
    display: flex;
    align-content: center;
    width: 40%;
    padding-left: 20px;
    padding-top: 20px;
    border-radius: 20px;
    margin: 0 auto;
    background-color: aliceblue;
}

.selection {
    align-content: center;
}

.text-muted {
    padding: 10px;
}

.heading-and-form-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.heading-and-paragraph-container {
    display: flex;
    flex-direction: column;
}

.landing-paragraph {
    display: flex;
    padding-left: 10px;
    width: 500px;
}

.cloud-image {
    padding-bottom: 30px;
}

.get-your-button {
    margin-left: 10px;
}
.footer {
    text-align: center;
    padding-bottom: 10px;
    min-height: 50vh
}
.footer > footer {
    position: absolute;
    bottom: 0;
    left: 0; 
    width: 100%;
}