.mb-3 {
    width: 50%;
}
.field {
    margin-bottom: 10px;
}
.login-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    padding: 10px;
    background-color: aliceblue;
    border-radius: 20px;
}
.field-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    padding: 10px;
}
.submit-button {
    margin-bottom: 10px;
}
