.currentTempt {
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
    width: 100%;
    height: 200px;
    border-radius: 20px;
    padding: 10px;
}
.tabbing-navigation {
    display: flex;
}
.navthingy > button {
    margin: 5px;
}
.big-container {
    display: flex;
    flex-direction: row;
}
.sidebar {
    background-color: aliceblue;
    margin-left: 10px;
    padding: 10px;
    border-radius: 20px;
    width: 35%;
}
.leftcontent {
    width: 65%;
}
.temperature {
    font-size: 100px;
    padding-right: 20px;
}
.everything-else {
    font-size: small;
    padding-left: 10px;
}
.middle-column > p {
    margin-bottom: 0px;
}
.graphing-container{
    display: flex;
}
#blockyHistory {
    background-color: antiquewhite;
    height: 100px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
#blockHistory > div {
    padding: 20px;
}
.uhhIDKwhattonamethis {
    padding: 10px;
}
.uhhIDKwhattonamethiseither {
    padding-top: 10px;
    padding-left: 20px;
}